doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 毛小孩星球
    link(rel="stylesheet", href="style.css")
  body 
    header
      a.logo(href="/") 毛小孩星球
      input#ham(type="checkbox")
      label.ham(for="ham")
        .ham--line
      nav.nav
        a.nav--item(href="#activity") 近期活動
        a.nav--item(href="#album") 狗兒相片
        a.nav--item(href="#adoption") 領養資訊
