/*--------PRESET START----------------*\
@import "reset.sass"

$button--bgc: #39bae6
$button--bgc__hover: #267c99
$media--pc: 768px

@mixin bgi
  background: 
    position: center
    size: cover
    repeat: no-repeat
/*--------PRESET END------------------*\
body
  div
    width: 300px
    height: 300px
    h1
      color: red